<!doctype html>
<html>
<head>
  <title>Sudoku Game</title>
  <meta name="viewport" content="width=device-width,user-scalable=no">
  <script src="../lib/jquery-3.2.1.js"></script>
  <script src="../lib/sudoku-generator.js"></script>
  <link rel="stylesheet" href="../static/layout.css">
</head>
<body>
  <table style="width:100%;height:100%;"><tr><td align="center">
  <center><h1>Sudoku Game</h1>
  </center>
  <center style="display:table-cell;vertical-align:middle;">
    <div class="puzzlename" id="grade">&nbsp;</div>
    <table class="timescore"><tr>
      <td style="text-align:center">
        <span class="progress">Time</span>
        <span class="finished">Finished in</span> <span class="timer">0</span></td>
    </table>
    <table><tr>
      <td style="text-align:center" id="leftlayout">
      </td>
      <td>
        <center id="centerlayout">
          <input type="button" value="Clear" id="clearbutton"
            title="Reset puzzle.">
          <input type="button" value="Check" id="checkbutton"
            title="Check for mistakes.">
          <input type="button" value="Next &raquo;" id="nextbutton"
            title="Next puzzle.">
        </center>
      </td>
      <td id="rightlayout">
      </td>
    </tr>
  </table>
<div class="popup" id="win">Awesome!</div>
<div class="popup" id="ok">Correct</div>
<div class="popup" id="errors">mistake</div>
</td></tr>
</table>
</body>
</html>